<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">

            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Boards</a>
            </li>
            <li class="main-header__item">
                <a
                    class="<%= path === '/board/add-boards' ? 'active' : '' %>"
                    href="/board/add-board">Add Board</a>
            </li>
        </ul> 
    </nav>
</header>